@import url('https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@300;400;500;600;700&display=swap');

:root {
  /*change favorite color*/
  --hue-color: 250;
  /* purple 250 - Green 142 - blue 230 - pink 340 */
  /*========== Colors ==========*/
  --first-color: #324C5C;
  --first-color-second: #231942;
  --first-color-second-light: #ded2ff;
  --text-color: #2F4858;
  --text-color-light: #b0b3c0;
  --body-color: #ECECEC;
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  /*========== Font and typography ==========*/
  --body-font: 'Plus Jakarta Sans', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margins Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: var(--body-font);
  font-weight: var(--font-regular);
  line-height: 1;
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
span {
  color: var(--text-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}


ol {
  list-style: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 1.5rem;
  line-height: 1.9rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

form{
  display: block;
  margin-top: 0;
}
/*==================== LAYOUT ====================*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header {
  background: var(--body-color);
  height: 6.2rem;
  width: 100%;
  position: relative;
}

/*==================== NAV ====================*/
.nav {
  display: flex;
  justify-content: center;
  padding: 0 6.2rem;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 6.2rem;
  line-height: 6.2rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--text-color);
  font-weight: var(--font-bold);
}


.nav-button:link,
.nav-button:visited {
  background-color: var(--first-color-second);
  color: var(--container-color);
  padding: 0.6rem 2.4rem;
  border-radius: 0.6rem;
  transition: all 0.4s;
}

.nav-button:hover {
  background-color: var(--first-color);
}

.white-nav-btn:link,
.white-nav-btn:visited {
  background-color: var(--body-color);
  color: var(--text-color);
  padding: 0.6rem 1.9rem;
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-radius: 0.6rem;
  transition: all 0.9s;
}

.white-nav-btn:hover {
  background-color: var(--first-color);
  color: var(--container-color);
}

/*==================== HOME ====================*/
.main {
  padding: 0 5.2rem;
  border-bottom: 2px solid var(--text-color-light);
}

.section {
  margin: 0 0 12rem;
}

.home-content {
  max-width: 110rem;
  padding: 0 4.6rem;
  align-items: center;
  margin: 0 auto;
}

.home-data {
  width: 90%;
  align-items: center;
  margin-left: auto;
}

.home-title {
  font-size: 2.6rem;
  padding-bottom: 1.4rem;
}

.home-subtitle {
  font-size: 3.8rem;
  padding-bottom: 0.7rem;
}

.home-subtitle span {
  text-transform: uppercase;
  -webkit-text-stroke-width: 0.2rem;
  -webkit-text-stroke-color: var(--text-color);
  -webkit-text-fill-color: var(--text-color-light);
}

.home-description {
  font-size: 2rem;
  padding-bottom: 1.4rem;
}

.hero-img {
  text-align: center;
  position: relative;
}

.home-img {
  width: 85%;
  position: relative;
  margin-left: auto;
}

/*==================== BUTTONS ====================*/
.button:link,
.button:visited {
  display: inline-block;
  width: auto;
  background-color: var(--first-color-second);
  color: #fff;
  padding: 1.2rem 1.6rem;
  border-radius: 0.7rem;
  font-weight: var(--font-medium);
  transition: all 0.4s;
  font-size: 1.6rem;
}

.button:hover {
  background-color: var(--first-color);
}

.button-icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}

.button--white {
  background-color: var(--body-color);
  color: var(--first-color);
}


/*==================== ABOUT hobbies priorities skills ====================*/
.about-me {
  padding: 0.6rem 2.4rem;
}

.about-container,
.hobbies-container,
.priorities-container,
.skills-container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 4.6rem;
}

.about-title,
.hobbies-title,
.priorities-title,
.skills-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  padding-bottom: 1.2rem;
  position: relative;
}

.about-subtitle,
.hobbies-subtitle,
.priorities-subtitle,
.skills-subtitle {
  font-size: 3.6rem;
  padding-bottom: 5.2rem;
  text-transform: capitalize;
}

.about-img,
.skills-img,
.hobby-img,
.priorities-img {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image {
  width: 18rem;
  height: 26rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text p,
.hobby-text,
.priorities-text,
.skills-text {
  display: flex;
  font-weight: 500;
  padding-top: 5rem;
  margin: 0 auto;
  align-items: center;
}
.about-text p{
  font-size: 1.1rem;
}
.hobbies-container li,
.priorities-container li,
.skills-container li {
  font-size: 1.2rem;
  line-height: 2.5rem;
  padding-left: 0.9rem;
}

.hobbies-image {
  width: 17rem;
}

.skills-image {
  width: 17rem;
}

.priorities-image {
  width: 180px;
  justify-self: center;
  align-self: center;
}

.big-btn:link {
  display: flex;
  margin: 0 auto;
  width: 35%;
  height: 6.2rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 6.2rem;
}

/*==================== CONTACT ME ====================*/
.section{
  margin: auto;
}

.contact-section{
display: grid;
grid-template-columns: 1fr 1fr;
width: 80%;
max-width:100%;
height: auto;
overflow-x: hidden;
margin: 6.8rem auto;
background-color: var(--body-color);
padding: 3.6rem 2.4rem;
border-radius: 1rem;
}

.contact-text{
  padding-left: 1.4rem;
}

.contact{
  margin: 0.6rem 0 3rem;
  font-size: 2.2rem;
}

.contact-detail{
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}

.email-icon,
.phone-icon{
  width: 1.9rem;
  height: 1.9rem;
  font-size: 1.6rem;
  color: var(--first-color);
  padding-right: 0.9rem;
}

.email-link:link,
.phone-link:link{
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 700;
  transition: all 0.4s;
}

.social--group h2 {
  font-size: 1.8rem;
  margin: 3.6rem 0 0.8rem;
}

.social-groups {
  display: flex;
    column-gap: 2.4rem;
    margin: 1.6rem 0 4.8rem;
}
.social-group:link {
font-size: 1.8rem;
  color: var(--first-color);
  border-radius: 50%;
  padding: 1rem;
  background-color: var(--scroll-thumb-color);
  cursor: pointer;
  transition: all 0.4s;
}
.social-group:link:hover{
  background-color: var(--first-color);
  color: var(--scroll-thumb-color);
}
label{
  display: block;
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
  font-weight: 600;
}

input{
  width: 80%;
  background-color: var(--body-color);
  margin-bottom: 2.2rem;
  padding: 1.3rem 1.2rem;
  border: 2px solid var(--first-color-second);
  outline: none;
  border-radius: 0.7rem;
  font-size: 1.2rem;
}

textarea{
  width: 80%;
  min-height: 11.2rem;
  background-color: var(--body-color);
  border: 2px solid var(--first-color-second);
  outline: none;
  border-radius: 0.7rem;
  padding: 0.6rem 1.2rem;
  margin-bottom: 3.2rem;
}

.btn {
  padding: 0.8rem 1.2rem;
  outline: none;
  width: 50%;
  border: none;
  text-decoration: none;
  background-color: var(--first-color-second);
  border-radius: 0.7rem;
  color: #fff;
  font-size: 1.4rem;
  transition: all 0.4s;
  margin-bottom: 4.2rem;
}

.btn:hover{
  background-color: var(--first-color);
}

@media screen and (max-width: 850px) {
.contact-section{
  grid-template-columns: 1fr;
}
}
/* .contact-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 55%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 2rem auto 0;
  padding: 3.6rem 2.4rem;
  border-radius: 1rem;
}

.contact-text {
  padding-left: 2.4rem;
}

.contact {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

.contact-detail {
  padding: 0.3rem;
}


.email-link,,
.phone-link {
  color: var(--text-color);
}

.email-link,
.phone-link {
  margin-left: 0.6rem;
}

textarea {
  width: 80%;
  min-height: 11.2rem;
  border: 2px solid var(--first-color-second);
  background-color: var(--body-color);
  outline: none;
  border-radius: 0.4rem;
  padding: 0.6rem 1.2rem;
  margin-bottom: 3.2rem;
}

.btn {
  padding-left: 6.5rem;
  width: 80%;
  border-radius: 2rem;
  color: #fff;
  font-size: 0.9rem;
  font-weight: var(--font-bold);
  text-align: center;
  margin-bottom: 2rem;
}

.social-group {
  margin-top: 0.6rem;
}

.follow-socials {
  margin-top: 0.6rem;
} */

/*==================== LOGIN ====================*/
/* .login-form {
  margin: 0 auto 0;
  width: 32rem;
  padding: 2.4rem;
  border-radius: 0.5rem;
}

.login-title,
.reg-title {
  margin: 0.6rem 0 1rem;
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
}

label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  font-weight: var(--font-bold);
}

input {
  width: 80%;
  margin-bottom: 0.5rem;
  padding: 0.8rem 1.2rem;
  border: 2px solid var(--first-color-second);
  border-radius: 0.6rem;
  background-color: var(--body-color);
}

.login-terms {
  font-size: 0.7rem;
}

.terms,
.policy {
  text-decoration: underline;
}

.login-btn {
  margin-top: var(--mb-0-5);
  padding-left: 10rem;
  padding-right: 10rem;
  border-color: transparent;
  color: var(--container-color);
}

.forget-password {
  text-align: center;
  font-weight: 700;
  margin-right: 5rem;
  margin-bottom: var(--mb-2);
  text-transform: capitalize;
}

.no-account {
  text-align: center;
  margin-right: 5rem;
  margin-bottom: 1rem;
}

.sign-up-link {
  color: var(--text-color);
  font-weight: 700;
}

.google-sign-in {
  text-align: center;
  margin-right: 5rem;
}

.google-line {
  text-align: center;
  width: 22.7rem;

}

.google-img {
  margin-left: 6rem;
  margin-top: var(--mb-1-5);
  width: 10rem;
} */

/*==================== SIGN UP ====================*/
/* .section {
  margin: auto;
}

.reg-form-section {
  width: 64%;
  margin: 0 auto 0;
  padding-top: 1.4rem;
}

.reg-form {
  margin: 0 4rem 0;
}

.reg-title {
  font-size: var(--small-font-size);
  text-transform: capitalize;
  padding: 0 2.4rem 2.4rem;
}

.have--account {
  font-weight: var(--font-bold);
  color: var(--text-color);
}

.account-detail {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
  padding: 0 2.4rem 0.4rem;
} */

/* .reg-detail input,
.reg--detail input {
  width: 80%;
  padding: 1.2rem;

  border-radius: 0.7rem;
} */

/* .reg-detail label,
.reg--detail label {
  margin-bottom: 1rem;
} */

/* .reg--detail {
  width: 112%;
  padding: 0 2.4rem 0.4rem;
} */
/* 
select {
  width: 80%;
  margin-bottom: var(--mb-1);
  padding: 1.2rem 1.4rem;
  border: 2px solid var(--first-color-second);
  border-radius: 0.6rem;
} */

/* .character-8 {
  text-align: left;
  margin-left: 3rem;
} */

/* .google-btn,
.facebook-btn,
.twitter-btn,
.sign_in {
  padding: 1rem 9rem;
  margin-left: 5rem;
  width: 67%;
  border-radius: 2rem;
} */

/* .sign_in {
  padding: 1rem 13rem;

}

.twitter-btn {
  width: 67%;
  margin-bottom: 3rem;
}

.login--instead {
  text-align: center;
  margin-right: 4rem;
}

.login-instead {
  color: var(--text-color);
  font-weight: var(--font-bold)
}

.sign-in-social {
  font-size: 1rem;
  padding-right: 1rem;
} */

/*==================== FOOTER ====================*/
.footer {
  display: block;
  margin-top: 5rem;
  margin-bottom: var(--mb-1);
}

.footer-socials {
  display: flex;
  justify-content: center;
  color: var(--first-color-second-light);
  column-gap: 1.2rem;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
  cursor: pointer;
}

.footer-social:link {
  color: var(--text-color-light);
  font-size: 2rem;
  cursor: pointer;
  letter-spacing: 1rem;
}

.footer-copyright {
  text-align: center;
  margin-bottom: 1.8rem;
  color: var(--text-color-light);
}

.description-footer,
.footer-copy {
  letter-spacing: 0.16rem;
  font-size: 1.4rem;
  color: var(--text-color-light);

}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--first-color-second-light);
}

/*==================== MEDIA QUERIES ====================*/
/* For large devices */
@media screen and (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }

  .home-data {
    text-align: center;
    margin: 7.4rem auto 0;
  }

  .home-title {
    font-size: 2rem;
  }
  .home-description{
    font-size: 1.4rem;
  }
.hero-img{
  width: 60%;
  margin: 0 auto;
}
.big-btn:link {
  font-size: 1.9rem;
}

}

/* For medium devices */
@media screen and (max-width: 670px) {
  .nav {
    padding: 0 3.6rem;
  }

  .nav-list {
    gap: 3rem;
    line-height: 5.2rem;

  }

  .nav-link:link,
  .nav-link:visited {

    font-size: 1.5rem;
    font-weight: var(--font-semi-bold);
  }

  .main {
    padding: 0 2.6rem;
  }

  .home-img {
    width: 100%;
  }

  .about-title,
  .hobbies-title,
  .priorities-title,
  .skills-title {
    font-size: 1.4;
  }

  .about-subtitle,
  .hobbies-subtitle,
  .priorities-subtitle,
  .skills-subtitle {
    font-size: 2.6rem;
  }

  .about-img,
  .skills-img,
  .hobby-img,
  .priorities-img {
    grid-row: 1;
  }

  .about-image {
    width: 12rem;
    height: 18rem;
  }

  .hobbies-image {
    width: 12rem;
  }

  .skills-image {
    width: 12rem;
  }

  .priorities-image {
    width: 12rem;
  }
}

/* For small devices */
@media screen and (max-width: 430px) {
  .nav {
    padding: 1rem;
    width: 100%;
  }

  .nav-list {
    gap: 1.5rem;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 1.2rem;
  }

  .main {
    padding: 0 0.9rem;
  }

  .home-data {
    padding: 0;
  }

  .home-title {
    font-size: 2.2rem;
  }

  .home-subtitle {
    font-size: 2.5rem;
  }

  .home-description {
    font-size: 1.4rem;
  }

  .about-subtitle,
  .hobbies-subtitle,
  .priorities-subtitle,
  .skills-subtitle {
    font-size: 1.7rem;
    border-bottom: 0;
    padding-bottom: 3.6rem;
  }

  .about-img,
  .skills-img,
  .hobby-img,
  .priorities-img {
    grid-row: 1;
  }
  .big-btn:link {
    font-size: 1.3rem;
  }
}


