@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {

  /*========== Colors ==========*/
  --first-color: #324C5C;
  --first-color-second: #231942;
  --first-color-second-light: #cabaf7;
  --text-color: #2F4858;
  --text-color-light: #696D7D;
  --body-color: #ECECEC;
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  /*========== Font and typography ==========*/
  --body-font: 'Quicksand', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margins Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*==================== BASE ====================*/
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--text-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header {
  background: var(--body-color);
  height: 6.2rem;
  width: 100%;
  position: relative;
}

/*==================== NAV ====================*/
.nav {
  margin-top: var(--mb-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2rem;
}

.logo-img {
  width: 7rem;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  line-height: 2rem;
}

.nav-link {
  font-weight: var(--font-bold);
  color: var(--text-color);
}

.nav-item {
  font-size: 1rem;
}

.nav-button {
  background-color: var(--first-color-second);
  color: var(--container-color);
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
}

.nav-button:hover {
  background-color: var(--first-color);
}

.white-nav-btn {
  background-color: var(--body-color);
  color: var(--text-color);
  padding: 0.5rem 1rem;
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-radius: 0.5rem;
}

.white-nav-btn:hover {
  background-color: var(--container-color);
}

/*==================== HOME ====================*/
section {
  margin: 0 0 12rem;
}

.home-data {
  width: 90%;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.home-title {
  font-size: var(--h3-font-size);
  padding-bottom: 0.5rem;
}

.home-subtitle {
  font-size: 1.89rem;
  padding-bottom: 0.7rem;
  color: var(--text-color);
  font-weight: var(--font-bold);
}

.home-description {
  margin-bottom: var(--mb-1);
}

.home-img {
  width: 33rem;
  position: relative;
  margin-left: auto;
}

.home-scroll {
  margin-top: -2rem;
  margin-bottom: 5rem;
}

.home-scroll-button {
  color: var(--first-color);
  transition: 0.3s;
}

.home-scroll-button:hover {
  transform: translateY(0.25rem);
}

.home-scroll-mouse {
  font-size: 2rem;
}

.home-scroll-name {
  font-size: var(--small-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home-scroll-arrow {
  font-size: 1.25rem;
}

/*==================== BUTTONS ====================*/
.button {
  display: inline-block;
  background-color: var(--first-color-second);
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--first-color);
}

.button-icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}

.button--white {
  background-color: var(--body-color);
  color: var(--first-color);
}

.button--white:hover {
  background-color: #fff;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button--small {
  padding: 75rm 1rem;
}

.button--link {
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
}

.button--link:hover {
  background-color: transparent;
  color: var(--first-color);
}

/*==================== ABOUT ====================*/
.about-me {
  padding: 0.6rem 2.4rem;
}

.about-container {
  margin: 0 auto;
  padding: 0 4.6rem;
}

.about-image {
  width: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content {
  margin-left: 2rem;
}

.about-title {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.3rem;
}

.about-subtitle {
  font-size: var(--h2-font-size);
  font-weight: 700;
}

.about-description {
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

/*==================== hobbies ====================*/
.hobbies-container, .priorities-container, .skills-container {
  margin: 7rem auto;
  padding: 0 4.6rem;
}
.hobbies-title {
  font-size: var(--small-font-size);
  text-transform: uppercase;
  font-weight: 700;
}

.hobbies-subtitle {
  font-size: var(--h2-font-size);
  text-transform: capitalize;
  font-weight: 700;
}

.hobbies-list {
  margin-top: 1rem;
  line-height: 2rem;
}

.hobbies-image {
  width: 150px;
  justify-self: center;
  align-self: center;
}

/*==================== priorities ====================*/

.priorities-title {
  font-size: var(--small-font-size);
  text-transform: uppercase;
  font-weight: 700;
}

.priorities-subtitle {
  font-size: var(--h2-font-size);
  text-transform: capitalize;
  font-weight: 700;
}

.priorities-list {
  margin-top: 1rem;
  line-height: 2rem;
}

.priorities-image {
  width: 180px;
  justify-self: center;
  align-self: center;
}

/*==================== skills ====================*/
.skills-title {
  font-size: var(--small-font-size);
  text-transform: uppercase;
  font-weight: 700;
}

.skills-subtitle {
  font-size: var(--h2-font-size);
  text-transform: capitalize;
  font-weight: 700;
}

.skills-list {
  margin-top: 1rem;
  line-height: 2rem;
}

.skills-image {
  width: 150px;
  justify-self: center;
  align-self: center;
}

.last-contact {
  margin-top: var(--mb-2-5);
}
.big-btn{
  display: flex;
  margin: 0 auto;
  width: 30%;
  height: 3rem;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
/*==================== CONTACT ME ====================*/
.contact-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 55%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 2rem auto 0;
  padding: 3.6rem 2.4rem;
  border-radius: 1rem;
}

.contact-text {
  padding-left: 2.4rem;
}

.contact {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

.contact-detail {
  padding: 0.3rem;
}

.email-icon,
.email-link,
.phone-icon,
.phone-link {
  color: var(--text-color);
}

.email-link,
.phone-link {
  margin-left: 0.6rem;
}

textarea {
  width: 80%;
  min-height: 11.2rem;
  border: 2px solid var(--first-color-second);
  background-color: var(--body-color);
  outline: none;
  border-radius: 0.4rem;
  padding: 0.6rem 1.2rem;
  margin-bottom: 3.2rem;
}

.btn {
  padding-left: 6.5rem;
  width: 80%;
  border-radius: 2rem;
  color: #fff;
  font-size: 0.9rem;
  font-weight: var(--font-bold);
  text-align: center;
  margin-bottom: 2rem;
}

.social-group {
  margin-top: 0.6rem;
}

.follow-socials {
  margin-top: 0.6rem;
}

/*==================== LOGIN ====================*/
.login-form {
  margin: 0 auto 0;
  width: 32rem;
  padding: 2.4rem;
  border-radius: 0.5rem;
}

.login-title,
.reg-title {
  margin: 0.6rem 0 1rem;
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
}

label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  font-weight: var(--font-bold);
}

input {
  width: 80%;
  margin-bottom: 0.5rem;
  padding: 0.8rem 1.2rem;
  border: 2px solid var(--first-color-second);
  border-radius: 0.6rem;
  background-color: var(--body-color);
}

.login-terms {
  font-size: 0.7rem;
}

.terms,
.policy {
  text-decoration: underline;
}

.login-btn {
  margin-top: var(--mb-0-5);
  padding-left: 10rem;
  padding-right: 10rem;
  border-color: transparent;
  color: var(--container-color);
}

.forget-password {
  text-align: center;
  font-weight: 700;
  margin-right: 5rem;
  margin-bottom: var(--mb-2);
  text-transform: capitalize;
}

.no-account {
  text-align: center;
  margin-right: 5rem;
  margin-bottom: 1rem;
}

.sign-up-link {
  color: var(--text-color);
  font-weight: 700;
}

.google-sign-in {
  text-align: center;
  margin-right: 5rem;
}

.google-line {
  text-align: center;
  width: 22.7rem;

}

.google-img {
  margin-left: 6rem;
  margin-top: var(--mb-1-5);
  width: 10rem;
}

/*==================== SIGN UP ====================*/
.section {
  margin: auto;
}

.reg-form-section {
  width: 64%;
  margin: 0 auto 0;
  padding-top: 1.4rem;
}

.reg-form {
  margin: 0 4rem 0;
}

.reg-title {
  font-size: var(--small-font-size);
  text-transform: capitalize;
  padding: 0 2.4rem 2.4rem;
}

.have--account {
  font-weight: var(--font-bold);
  color: var(--text-color);
}

.account-detail {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
  padding: 0 2.4rem 0.4rem;
}

.reg-detail input,
.reg--detail input {
  width: 80%;
  padding: 1.2rem;

  border-radius: 0.7rem;
}

.reg-detail label,
.reg--detail label {
  margin-bottom: 1rem;
}

.reg--detail {
  width: 112%;
  padding: 0 2.4rem 0.4rem;
}

select {
  width: 80%;
  margin-bottom: var(--mb-1);
  padding: 1.2rem 1.4rem;
  border: 2px solid var(--first-color-second);
  border-radius: 0.6rem;
}

.character-8 {
  text-align: left;
  margin-left: 3rem;
}

.google-btn,
.facebook-btn,
.twitter-btn,
.sign_in {
  padding: 1rem 9rem;
  margin-left: 8rem;
  width: 62%;
  border-radius: 2rem;
}

.sign_in {
  padding: 1rem 12rem;

}

.twitter-btn {
  width: 62%;
  margin-bottom: 3rem;
}

.login--instead {
  text-align: center;
  margin-right: 4rem;
}

.login-instead {
  color: var(--text-color);
  font-weight: var(--font-bold)
}

.sign-in-social {
  font-size: 1rem;
  padding-right: 1rem;
}

/*==================== FOOTER ====================*/
.footer {
  margin-top: 5rem;
}

.footer-line {
  width: 100%;
  border: .1px solid var(--first-color-second-light);
}

.footer-container {
  text-align: center;
  margin-top: var(--mb-1-5);
  margin-left: 16rem;
}

.footer-social {
  padding: .7rem;
  color: var(--first-color);
  font-size: 1.3rem;
}

.description-footer,
.footer-copy {
  letter-spacing: 0.16rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }


  .home-blob {
    width: 180px;
  }

  .skills-title {
    font-size: var(--normal-font-size);
  }
}
@media screen and (max-width: 750px) {
  .grid{
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .nav-menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav-list {
    column-gap: 5rem;
  }

  .skills-title {
    font-size: var(--normal-font-size);
  }

  .qualification-data {
    gap: 0.5rem;
  }

  .services-container {
    grid-template-columns: max-content;
    justify-content: center;
  }

  .services-content {
    padding-right: 3.5rem;
  }

  .services-modal {
    padding: 0 0.5rem;
  }

  .project-img {
    width: 200px;
  }
  .testimonial-data,
  .testimonial-header {
    flex-direction: column;
    align-items: center;
  }

  .testimonial-img {
    margin-right: 0;
    margin-bottom: var(--mb-0-25);
  }

  .testimonial-data,
  .testimonial-description {
    text-align: center;
  }
}
/* For medium devices */
@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .header,
  .main,
  .footer-container {
    padding: 0 1rem;
  }

  .home-content {
    padding-top: .9rem;
    column-gap: 2rem;
  }

  .home-img {
    width: 22rem;
    margin-left: 4rem;
  }

  .home-scroll {
    display: block;
  }

  .home-scroll-button {
    margin-left: 3rem;
  }
}

/* For large devices */